# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment and dependency folders
.env/
.envrc
venv/
*.egg-info/

# Fastai models and dataset caches
/models/
